<!doctype html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css" />
		<script src="lib/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<style>
			.subtree {
				border-left: 2px solid #6688AA;
				padding-left: 20px;
			}
			.node:hover .node-actions {
				display: inline;
			}
		</style>
	</head>
	<body>
		<h3>&nbsp;Angular JS Tree Demo</h3>
		<div ng-controller="EntityCtrl">
			<button style="margin: 5px;" class = "btn btn-primary" ng-click= "add_parent(fields)">
				Add Parent
			</button>
			<div ng-repeat="field in fields">
				<div ng-include src="'node.html'"></div>
			</div>
			<!--<pre>{{fields | json}}</pre>-->		
		</div>
	</body>
</html>