<div class="node" style="margin-left: 15px;padding: 10px;">
	<span class="node-actions">
		<input ng-model="field.name" type="text" placeholder = 'Name'/>
		<select ng-model="field.type" ng-options="i for i in types"></select>
		<button class ="btn btn-danger" ng-click="delete_node($index, $parent.$parent.field)">
			Delete
		</button>
		<button class = "btn btn-info" ng-click="settings(field.id, $parent.$parent.field)">
			Settings
		</button>
		<form style="background-color: #EEEEEE" ng-show="shouldShow(field.id, $parent.parent.field)" class="form-horizontal">
		<!--<form style="background-color: #EEEEEE" ng-show="showHide" class="form-horizontal">-->
			<div class="control-group">
				<label class="control-label" for="inputFont">Font</label>
				<div class="controls">
					<input type="text" id="font" placeholder="Font">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="size">Size</label>
				<div class="controls">
					<input type="text" id="size" placeholder="Size">
				</div>
			</div>
			
		</form> <!--<div ng-hide="showHide">Hide</div>-->
		<div ng-switch on="field.type">
			<div ng-switch-when="Collection">
				<div class = 'subtree' ng-repeat="field in $parent.field.fields">
					<div ng-include src ="'node.html'" ></div>
				</div>
				<button class = "btn btn-success" ng-click="add_child($parent.field)">
					Add Child
				</button>
			</div>
			<div ng-switch-when="Text">
				<div ng-init = "delete_child($parent.field)"></div>
			</div>
			<div ng-switch-when="Checkbox">
				<div ng-init = "delete_child($parent.field)"></div>
			</div>
			<div ng-switch-when="Radio">
				<div ng-init = "delete_child($parent.field)"></div>
			</div>
			<div ng-switch-when="Textarea">
				<div ng-init = "delete_child($parent.field)"></div>
			</div>
		</div> </span>
</div>