<div style="margin-left: 50px;">
	
	<input ng-model="field.children.name" type="text" placeholder = 'Name'/>
	<select ng-model="field.children.type" ng-options="i for i in types"></select>

	<div ng-switch on="field.children.type" >
		<div ng-switch-when="Collection">
			<div ng-init="addSubNode(field)"></div>
			<li ng-repeat="field in field.children" ng-include src="'subnode.html'"></li>
		</div>
	</div>
</div>
<!--
<div ng-switch on="field.children.type" >
<div ng-switch-when="Collection">
<div ng-include src ="'subnode.html'"></div>
</div>
</div>-->

<!--
<button class="btn btn-primary" ng-click="addSubNode(field)">
Add node
</button>
<ul>
<li ng-repeat="childField in field.children" >
<input type = "text" placeholder="Name"/>
<input type = "text" placeholder='Value'/>
</li>
</ul>
-->
<!--<button class="btn btn-primary" ng-click="addSubNode(field)">
Add node
</button>
<ul>
<li ng-repeat="childField in field.children" >

<input ng-model="childField.name" type="text" placeholder = 'Name'/>
<select ng-model="childField.type" ng-options="i for i in types"></select>

<div ng-switch on="childField.type" >
<div ng-switch-when="Collection">
<div ng-include src ="'subnode.html'"></div>
</div>
</div>
</li>
</ul>
-->
<!--
<div class="node">
{{$parent.tree.title}}

<span class="node-actions">
<form ng-submit="add_child($parent.tree, node_title)">
<input type="text" ng-model="node_title">
<button>+</button>
</form>

</span>

</div>

<div class="subtree" ng-repeat="tree in $parent.tree.children">
<div ng-include src="'node.html'"></div>
</div>
-->